body {
    background-color: #150045;
  }

  p {
      color: lightgray
  }

  a {
      color: lightgray;
  }

  div.treeDay {
      background-color: #004515;
      width: 50px;
      margin: auto;
  }

  div.title {
      width: 400px;
      background-color: lightgray;
      margin: auto auto 20px auto;
      text-align: center;
      font-size: 2em;
      font-family: 'Noto Serif', serif;
  }